<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Welcome, Survivors</h1>


<p> Please registrate or update your location here!</p>

<%= link_to 'Survivors Registrations', survivors_path, class: 'btn btn-primary btn-lg' %>

<p> Verify about the survivors situation:</p>
<%= link_to 'Reports', survivors_path, class: 'btn btn-primary btn-lg' %>

<p></p>

<p> Stay alive.</p>

</div>