<h1>Welcome, Survivors</h1>

<p> Please registrate or update your location here!</p>

<%= link_to 'Survivors Registrations', survivors_path, class: 'btn btn-primary btn-lg' %>

<p></p>

<p> Stay alive.</p>