<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Welcome, Survivors</h1>


    
<p> Please registrate or update your location here!</p>
<%= link_to 'Survivors Registrations', new_survivor_path, class: 'btn btn-primary btn-lg' %>


<p></p>
<p> Verify about the survivors situation:</p>
<%= link_to 'Reports', reports_path, class: 'btn btn-primary btn-lg' %>


<p></p>

<p> Be Careful.</p>

</div>