<h1> Reports </h1>

<p>
The reports we are showing contain:</p>

<p>% of Abducteds survivors</p>
<p> of Non-abducted survivors</p>
<p> List of all survivors names with the ones flagged as abducted, so you may know who is not on our side.</p>