<% if objets.errors.any? %>
<div class="">
  <div class="alert alert-danger">
   Ops!This survivor doesn't exist in out database <%= pluralize(object.errors.count, 'erro', 'erros') %>
   <ul>
     <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
     <% end %>
    </ul>
    </div>
</div>
<% end %>    