<footer>
  <nav>
    <ul>
      <li>
        <%= link_to 'Survivor Information', survivors_path %>
      </li>
      <li>
        <%= link_to 'Flag survivor as abducted', flag_survivor_path %>
      </li>
      <li>
        <%= link_to 'Reports', reports_path %>
      </li>
    </ul>
  </nav>
</footer>